* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  line-height: 1.6rem;
  color: #252A34;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  max-width: 80%;
  margin: auto;
}

#name{
    color: #EEB609;
    font-size: 65;
}
.primary-text {
  color:#EEB609;
    text-transform: uppercase;
}
	
	

.text-center {
  text-align: center;
}

.bg-dark {
  background-color:lightslategray;
  color: #fff;
}

.bg-light {
  background-color: #EAEAEA;
}

.bg-primary {
  background-color:  #252A34;
  color: #EEB609;
}
 
/* buttons */ 

.btn {
  background-color:aliceblue; 
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  color:midnightblue;
    text-transform: uppercase;
}

.btn:hover {
  background-color:lightsteelblue;
}

.btn-dark {
  background-color:  #252A34;
    color:#EEB609;
    font-size: 1em;
}

.py-1 { 
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.l-heading {
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.m-heading {
  font-size: 2rem;
  line-height: 2;
}

.lead {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.box-shadow {
  box-shadow: 0 0 5px #252A34;
    height: 450;
    width: 300;
}
/* Section: Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.10rem;
  position:sticky;
  top: 0;
    
}

#navbar .logo img {
  width:75;
  display: block;

}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
    font-size: 20;
}

#navbar ul li a {
  padding: 1rem;
  color: #fff;
}

#navbar ul li a:hover {
  background-color:midnightblue;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #252A34 url(resturant.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1.5rem;

  /* overlay */
  background-color: rgba(0,0,0, 0.6);
}

/* Section: About */
#about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
#about .about-content div, 
#about .about-content img {
  flex: 1;
}

#about .about-content img {
  display: block;
  width: 30%;
  border: 5px solid #fff;
  margin-left: 1rem;
}

/* cta */
#cta {
  background: #252A34 ;
  color: #fff;
}

#cta .cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  background-color: rgba(0,0,0);
 }

 /* chefs */
#chefs .boxes {
  display: flex;
  justify-content: space-between;
    
}

chefs .boxes .box {
  flex: 1;
}

#chefs .boxes .box img {
  width: 100;
  height: 100;
  background-color: #EEB609;
  padding: 0.25rem;
  border-radius: 100%;
  color: #252A34;
}

/* menus */

#menus .menus-boxes {
    display: flex;
    height: 100%;
    margin-bottom: 0rem;
}

#menus .menus-boxes .menus-box {
    flex: 1;
    background-color: #fff;
    margin: 1rem;
    border-radius: 5px;
}

#menus .menus-boxes .menus-box img {
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}

#menus .menus-boxes .menus-box .food{
    margin-left: 1rem;
}

#menus .menus-boxes .menus-box .prices {
	list-style-type:none;
	position:relative;
	margin-left:250px;
	bottom:200px;
}


/* Contact  */
#contact {
    display: flex;
    height: 79.5%;
    
}

#contact Reserve,#contact .Delivery{
    width: 50%;
    height: 92%;
 /*  border-radius: 2rem;*/
}

#contact .Reserve{
    margin-right: 1rem;
}

#contact .Reserve input,
#contact .Delivery input, 
#contact .Reserve textarea, 
#contact .Delivery textarea {
  width: 50%;
  padding: 0.75rem;
  border: none;
  margin-bottom: 1rem;
}

#contact .Reserve h3,#contact .Delivery h3{
    text-align: center;
    padding-top: 0rem;
}


#contact .Reserve .form-group,#contact .Delivery .form-group{
  display: flex;
}


#contact .Reserve .form-group input[type="text"],#contact .Delivery .form-group input[type="text"] {
  margin-right: 0.75rem;
}

#contact .Reserve .DTM{
    display: flex;
    width: 45em; 
    height: 3.5em;
    margin: 0rem;
}

#contact .Reserve .DTM select[name="Number of people"]{
    width: 25em; 
    height: 3em;
    padding-left: 75px;
    font-size: 13px;
    margin-left: 1rem;
    border: 0px;
}

#contact .Reserve .DTM input[type="time"]{
    margin-left: 1rem;
}

#contact .Delivery .form-group2{
    display: flex;
}

#contact .Delivery .form-group2 textarea[name="any comment"]{
    margin-left: 1rem;
}

#contact .Delivery textarea[name="address"]{
    width:100%;
    height: 4rem;

}

#contact .Reserve input[type="submit"]{
    margin-left: 11rem;
    /*margin-top: 3rem;*/
}
#contact .Delivery input[type="submit"]{
   
    margin-left: 11rem;
    /*margin-top: 5rem;*/
}
